# GitHub
.git/
.github/
.gitignore/

# VS Code
.eslintrc.yml
.prettierrc.json
.vscode/

# Vitest
tests/
vitest.config.js

# Commitizen
.czrc

# Semantic Release
.releaserc.json

# npm
.npmignore

# Docker
.dockerignore
docker-compose.yml
Dockerfile

# Documentation and resources
resources/data/
CITATION.cff
